<div id="header">
  <%#= link_to "Faculties", faculties_path %>
  <%#= link_to "Courses", courses_path %>
  <%#= link_to "Criteria", criterions_path %>
  <%#= link_to "Score", course_criterions_path %>
  <%# "Course Assignment" %>
  <%#= link_to "Log out", session_do_logout_path %>

</div>


<h3>Congratulations</h3>

<p>
    You successfully logged in
</p>


