<h3>Login</h3>

<%= form_with url: session_do_login_path do |form| %>
    <%= form.text_field :email%>
    <%= form.submit "Login" %>
<% end %>
<p>

  gubsdelle6@topsy.com <br>
  avasilmanove7@techcrunch.com

</p>
